#main {
  outline: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
}
.innerWrap {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  #carousel {
    list-style-type: none;
    display: inline-block;
    padding-left: 0px;
  }
    .slidePhoto {
      margin-left: auto;
      margin-right: auto;
      outline: 1px solid black;
      height: 200px;
      width: 200px;

    }
    .slidePhoto[data-show="true"] {
        display: block;
    }
    .slidePhoto[data-show="false"] {
        display: none;
    }
  #carouselIndicator {
    list-style-type: none;
  }
    #carouselIndicator li {
      display: inline-block;
    }
